<div class="space-y-4">
    <NexusPendingOrdersListComponent MoveOrders="@MoveOrders" BuildOrders="@BuildOrders" Designs="@Designs"
                                     CurrentPlayerName="@CurrentPlayerName" CurrentPlayerHomeCoord="@CurrentPlayerHomeCoord"
                                     OpponentPlayerName="@OpponentPlayerName" OpponentPlayerHomeCoord="@OpponentPlayerHomeCoord"
                                     BeginNexusGate="@BeginNexusGate" IsEditable="@IsEditable" OnPendingOrderRequested="OnPendingOrderRequested" />

</div>

@code {
    [Parameter]
    public string CurrentPlayerName { get; set; } = "Player";

    [Parameter]
    public HexCoord? CurrentPlayerHomeCoord { get; set; }

    [Parameter]
    public string OpponentPlayerName { get; set; } = "Opponent";

    [Parameter]
    public HexCoord? OpponentPlayerHomeCoord { get; set; }

    [Parameter, EditorRequired]
    public IReadOnlyList<NexusMoveOrder> MoveOrders { get; set; } = [];

    [Parameter, EditorRequired]
    public IReadOnlyList<NexusBuildOrder> BuildOrders { get; set; } = [];

    [Parameter]
    public bool BeginNexusGate { get; set; }

    [Parameter]
    public bool IsEditable { get; set; }

    [Parameter]
    public ImmutableArray<NexusUnitDesign> Designs { get; set; } = [];

    [Parameter]
    public EventCallback<PendingOrderRequest> OnPendingOrderRequested { get; set; }
}
