<div class="space-y-4">
    <NexusPendingOrdersListComponent MoveOrders="@MoveOrders" BuildOrders="@BuildOrders"
                                     CurrentPlayerName="@CurrentPlayerName" CurrentPlayerHomeCoord="@CurrentPlayerHomeCoord"
                                     BeginNexusGate="@BeginNexusGate" IsEditable="@IsEditable" OnRemoveMoveOrder="OnRemoveMoveOrder"
                                     OnRemoveBuildOrder="OnRemoveBuildOrder" OnRemoveGateOrder="OnRemoveGateOrder" />

</div>

@code {
    [Parameter]
    public string CurrentPlayerName { get; set; } = "Player";

    [Parameter]
    public HexCoord? CurrentPlayerHomeCoord { get; set; }

    [Parameter, EditorRequired]
    public IReadOnlyList<NexusMoveRequest> MoveOrders { get; set; } = [];

    [Parameter, EditorRequired]
    public IReadOnlyList<NexusBuildRequest> BuildOrders { get; set; } = [];

    [Parameter]
    public bool BeginNexusGate { get; set; }

    [Parameter]
    public bool IsEditable { get; set; }

    [Parameter]
    public EventCallback<NexusMoveRequest> OnRemoveMoveOrder { get; set; }

    [Parameter]
    public EventCallback<NexusBuildRequest> OnRemoveBuildOrder { get; set; }

    [Parameter]
    public EventCallback OnRemoveGateOrder { get; set; }
}
