@using Spx.Nexus.Domain

<span>
    <span class="font-semibold @Context.PlayerNameClass(Event.PlayerId)">@Context.PlayerName(Event.PlayerId)</span>
    took control of
    <NexusSystemBadge Coord="@Event.System"
                       CurrentPlayer="@Context.CurrentPlayer"
                       Opponent="@Context.Opponent" />
</span>

@code {
    [Parameter, EditorRequired]
    public NexusPlanetaryControlEvent Event { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventRowContext Context { get; set; } = default!;
}
